.HTMLBody{
  background-color: #f0d597;
  height: 100%;
  width: 100%;
}


.CatProfile{
  background-size: cover;
  height: 250px ;
  width: 250px ;
  display: flex;
  justify-content: center;
  align-items: center;

}